data/.DS_Store
data/openvid-1m/download/*
data/openvid-1m/video/*
data/openvid-1m/data/train/OpenVid-1M.csv
data/openvid-1m/data/train/OpenVidHD.csv
__pycache__
.DS_Store
data/train_data/*
runs/*
trained_models/*
test.py
*.log
data/train_npy/*
data/train_data/videos_npy
sample/*